@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
h1{
    padding: 1rem;
}
header{
    background-image: url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 100vh;
}
.services{
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 50vh;
}
.contactus{
    background-image: url(./assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 75vh;
}
#msg{
    height: 7000%;
    width: 80%;
}
input{
    color: #fff;
    background:transparent;
}
.pot{
    max-width: 30vh;
    max-height: 30vh;
}
.mouse{
    transform: translateY(-50px);
}
#txtDes, #txtDev, #txtPM{
    display: none;
}
#toggleDes, #toggleDev, #togglePM{
    max-width: 30vw;
}
